img {
    max-width: 100%;
    height: auto;
}

tr {
    overflow: hidden;
}

td {
    overflow: hidden;
}

body > header h1 {
    padding-top: 45px;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.nav-sidebar .active a, .nav-sidebar .active a:hover, .nav-sidebar .active a:active {
    color: #fff;
    background-color: #428bca;
}

.wrap {
    padding-top: 50px;
}

.navbar .navbar-right {
    padding-right: 15px;
}

li {
    text-align: left;
}

.table-responsive {
    padding-top: 20px;
}

.nav-tabs {
    position: relative;
    z-index: 1;
}

.tab-content > .active {
    margin-top: -1px;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@media print {
    #regulamin p {
        margin: 0;
    }

    .moja-klasa-print {
        margin: 0;
        width: 100%;
    }
}

.required:after {
    content: "*";
}

.width-minus-60px {
    width: -webkit-calc(100% - 60px) !important;
    width: -moz-calc(100% - 60px) !important;
    width: calc(100% - 60px) !important;
}

.width-minus-70px {
    width: -webkit-calc(100% - 70px) !important;
    width: -moz-calc(100% - 70px) !important;
    width: calc(100% - 70px) !important;
}

.width-minus-80px {
    width: -webkit-calc(100% - 80px) !important;
    width: -moz-calc(100% - 80px) !important;
    width: calc(100% - 80px) !important;
}

.width-minus-150px {
    width: -webkit-calc(100% - 150px) !important;
    width: -moz-calc(100% - 150px) !important;
    width: calc(100% - 150px) !important;
}

.vertical-badge span {
    display: inline-block;
    vertical-align: middle;
}

/*------------- TIMELINE BEGIN ----------------*/

.timeline {
    list-style: none;
    padding: 0 20px 20px 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li.timeline-fullwidth > .timeline-panel {
    width: 100%;
    margin-top: 90px;
}

.timeline > li.timeline-fullwidth > .timeline-panel:before {
    border-top: 0 solid #ccc;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #ccc;
    left: 50%;
    right: auto;
    top: -15px;
    margin-left: -14px;
}

.timeline > li.timeline-fullwidth > .timeline-panel:after {
    border-top: 0 solid #fff;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #fff;
    left: 50%;
    right: auto;
    top: -14px;
    margin-left: -14px;
}

.timeline > li > .timeline-panel {
    background: #FFF; /* add this so that our panels arent transparent allowing you to see the central line*/
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li.timeline-fullwidth.opinion > .timeline-panel {
    float: none;
    position: relative;
    margin-top: 0;
}

.timeline > li.timeline-fullwidth.opinion > .timeline-panel:after {
    border-top: 14px solid #fff;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 0 solid #fff;
    left: 50%;
    right: auto;
    top: 100%;
    margin-left: -14px;
}

.timeline > li.timeline-fullwidth.opinion > .timeline-panel:before {
    border-top: 14px solid #ccc;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 0 solid #ccc;
    left: 50%;
    right: auto;
    top: 100%;
    margin-top: 1px;
    margin-left: -14px;
}

.timeline > li.timeline-fullwidth.opinion > .timeline-badge {
    margin: 40px auto 0 auto;
    position: relative;
    left: auto;
    top: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

/*------------- TIMELINE END ----------------*/

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 995px),
(min-device-width: 768px) and (max-device-width: 995px) {

    #phone {
        margin-left: 0 !important;
    }

    input {
        width: 100% !important;
        margin-bottom: 5px;
    }


    /*-------------------------------*/

    /*
    Label the data
    */
    table.user-data td:nth-of-type(1):before {
        content: "ID Użytkownika";
    }

    table.user-data td:nth-of-type(2):before {
        content: "Login";
    }

    table.user-data td:nth-of-type(3):before {
        content: "Imię i Nazwisko";
    }

    table.user-data td:nth-of-type(4):before {
        content: "Tel";
    }

    table.user-data td:nth-of-type(5):before {
        content: "E-mail";
    }

    table.user-data td:nth-of-type(6):before {
        content: "Hasło";
    }

    /*-----------------------------*/

    /* Force table to not be like tables anymore */
    table.user-data thead, table.user-data tbody, table.user-data th, table.user-data td, table.user-data tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    table.user-data > thead > tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.user-data > tbody > tr {
        border: 1px solid #ccc;
    }

    table.user-data > tbody > tr > td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    table.user-data > tbody > tr > td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }


    /*------------------------------*/

    table.user-repair td:nth-of-type(1):before {
        content: "ID naprawy";
    }
    table.user-repair td:nth-of-type(2):before {
        content: "Marka";
    }
    table.user-repair td:nth-of-type(3):before {
        content: "Model";
    }
    table.user-repair td:nth-of-type(4):before {
        content: "Opis";
    }
    table.user-repair td:nth-of-type(5):before {
        content: "Data rozpoczęcia";
    }
    table.user-repair td:nth-of-type(6):before {
        content: "Status";
    }
    table.user-repair td:nth-of-type(7):before {
        content: "Szczegóły";
    }

    /* Force table to not be like tables anymore */
    table.user-repair thead, table.user-repair tbody, table.user-repair th, table.user-repair td, table.user-repair tr {
        display: block;
    }

    table.user-repair > thead > tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.user-repair > tbody > tr {
        border: 1px solid #ccc;
    }

    table.user-repair > tbody > tr > td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    table.user-repair > tbody > tr > td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*--------------------------------*/

    .col-md-offset-2 {
        margin-left: 0 !important;
    }

    .sidebar {
        position: relative !important;
        top: 0 !important;
    }

    .country-code.form-control.input-sm.text-center {
        width: 100% !important;
    }

    /*timeline*/
    ul.timeline:before {
        display: none !important;
    }

    .timeline-badge {
        display: none !important;
    }

    .timeline-panel {
        width: 100% !important;
    }

    /*table responsive*/
    .table-responsive {
        padding-top: 0 !important;
        margin-top: 20px !important;
    }

    /*login page container*/
    .container.login-layout {
        padding-top: 50px !important;
    }
}

table.table-striped > thead > tr > th {
    vertical-align: middle;
}