<!DOCTYPE HTML>
<html lang="pl">
<head>
    {#todo#}
    <link rel="shortcut icon" href="{{ asset('bundles/app/images/gears.png') }}">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    Wycena została już wcześniej zaakceptowana.
</body>
</html>