{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    | Zmiana hasła
{% endblock %}

{% block pageContainer %}

    {% include 'AppBundle::alerts.html.twig' %}

    <div class="emptyFields hidden alert alert-danger">
        Uzupełnij wymagane pola.
    </div>
    {{ form(form) }}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Czy chcesz kontynuować bez podania adresu e-mail?
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                        Na adres e-mail będą wysyłane informacje o aktualnym stanie naprawy.<br>
                        Adres e-mail jest również niezbędny do wykonania samodzielnego resetu hasła.
                    </p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Wróć</button>
                    <a href="#" id="submitMessage" class="btn btn-success success">Kontynuuj </a>

                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#fos_user_change_password_form_save").click(function () {

                if ($("#fos_user_change_password_form_current_password").val().length &&
                        $("#fos_user_change_password_form_plainPassword_first").val().length &&
                        $("#fos_user_change_password_form_plainPassword_second").val().length) {

                    if (!$("#fos_user_change_password_form_email").val().length) {
                        $('#myModal').modal('show');
                    } else {
                        $("[name='fos_user_change_password_form']").submit();
                    }
                } else {
                    $('.emptyFields').removeClass('hidden');
                }
            });

            $('#submitMessage').click(function () {
                $("[name='fos_user_change_password_form']").submit();
            });
        });
    </script>

{% endblock %}
